.auth{
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100vh;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 15px;
    display: inline-block;
    text-align: center;
}
.form-controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}